
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title row">
      <h3 class="col-md-3">写真SNS</h3>
      <div class="col-md-3 col-md-offset-6 text-right hidden-xs" style="margin-top: 20px;">
        ようこそ <%= current_user.name%> さん
      </div>
    </div>
  </div>
  <div class="panel-body">

    <% columns = 2 %>
    <table class="table table-bordered">

      <tbody>
        <% @posts.each_with_index do |post , i| %>
          <% if i % columns == 0 %>
          <tr>
          <% end %>
            <td><%= link_to image_tag(post.photo.thumb.url, 
                       popover_data_tag(photo_title(post),
                       post.caption)), post %></td>
          <% if i % columns == (columns - 1) %>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6">
      <%= link_to '新規投稿', new_post_path, class:"btn btn-success" %>
      </div>
      <div  class="col-md-6 text-right">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
$(document).ready(function(){
    $("img[data-toggle]").popover();   
});
<% end %>