<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @post.photo.url %>
</p>

<p>
  <strong>Caption:</strong>
  <%= simple_format(@post.caption) %>
</p>

<%= link_to 'Back', posts_path %>
