<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @post.photo %>
</p>

<p>
  <strong>Caption:</strong>
  <%= simple_format(@post.caption) %>
</p>

<%= link_to 'Back', posts_path %>
