<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= photo_title(@post)%></h3>
  </div>
  <div class="panel-body">
    <p><%= image_tag @post.photo.url, class: "img-responsive" %></p>
    <p><%= simple_format(@post.caption) %></p>
  </div>
  <div class="panel-footer">
    <%= link_to '戻る', posts_path, class:"btn btn-default" %>
  </div>
</div>


